<h1>Delete Book</h1>
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

  <%= form_with model: @book, local: true, method: 'delete' do |f| %>
    <%= f.submit "Confirm Delete" %>
  <% end %>


<p>
<%= link_to 'Edit Book', edit_book_path(@book) %> |    
<%= link_to 'Show Books', books_path %> |
<%= link_to 'Home', root_path %> 
</p>