<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %> <%= @character.lastname %>

<p><%= link_to 'Edit Character', edit_character_path(@character) %></p>
    
</p>

<p>
<%= link_to 'New Character', new_character_path %> |
<%= link_to 'Show Characters', characters_path %> |
<%= link_to 'Home', root_path %> 
</p>