<%= form_with(model: spell, local: true) do |form| %>
  <% if spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
        <% spell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Level%>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :School %>
    <%= form.text_field :school %>
  </div>

  <div class="field">
    <%= form.label :Classes %>
    <%= form.text_field :classes %>
  </div>

  <div class="field">
    <%= form.label :Concentration %>
    <%= form.text_field :concentration %>
  </div>


  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>