
<%= form_with(model: spell, local: true) do |form| %>
  <% if spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
        <% spell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>


<!-- ahhhh BELOW -->
  <div class="field">
    <%= form.label :book_id %>
    <%= form.select(:book_id, Book.to_nested_array_for_select) %>      
  </div>

<!-- AHHHHHHH ABOVE  -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
