<%= form_with(model: spell, local: true) do |form| %>
<%= csrf_meta_tags %>
  
<% if spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
        <% spell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Level%>
    <%= form.select :level, [ 0,1,2,3,4,5,6,7,8,9 ] %>  
  </div>

  <div class="field">
    <%= form.label :School %>
    <%= form.select :school, ["Conjuration", "Necromancy", "Evocation", "Abjuration", "Transmutation", "Divination", "Enchantment", "Illusion"] %>  
  </div>

  <div class="field">
    <%= form.label :Classes %>
    <%= form.select :classes, ["Bard", "Cleric", "Druid", "Paladin", "Ranger", "Sorcerer", "Warlock", "Wizard"] %>  
  </div>

  <div class="field">
    <%= form.label :Concentration %>
    <%= form.radio_button :concentration, "True" %>
    <%= form.label :Concentration, "True" %>
    <%= form.radio_button :concentration, "False" %>
    <%= form.label :Concentration, "False" %>
  </div>


  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :description %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>