<h1>Add to Book</h1>

<strong>Name:</strong>
  <%= @spell.name %>
</p>

  <%= form_with model: @spell, local: true, method: 'add to book' do |f| %>
    <%= f.submit "Confirm Add" %>
  <% end %>

<p>
<%= link_to 'All Spells', spells_path %> |
<%= link_to 'Home', root_path %>
</p>