<h1>Add <%=@spells.name%> to Book</h1>


  <%= form_with model: @spell, local: true, method: 'add to book' do |f| %>
    <%= f.submit "Confirm Add" %>
  <% end %>

<p>
<%= link_to 'All Spells', spells_path %> |
<%= link_to 'Home', root_path %>
</p>