<h1>Add Spell to Book</h1>

<head>
  <%= csrf_meta_tags %>
</head>

 skip_before_filter :verify_authenticity_token  
   skip_before_action :verify_authenticity_token


  <%= form_with model: @spell, local: true, method: 'add' do |f| %>
    <div class="field">
    <%= f.label :Book %>
    <%= f.select :book, [ 1,2,3,4,5,6,7,8,9,10,11,12 ] %>  
    </div>
    <%= f.submit "Confirm Add" %>
  <% end %>



<p>
<%= link_to 'All Spells', spells_path %> |
<%= link_to 'Home', root_path %>
</p>